$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

$primary-0: #242633;

$color-black-0: #282828;
$color-black-1: #2C303D;
$color-black-2: #4E5363;
$color-black-3: #7B8093;
$color-black-4: #999EAE;
$color-black-5: #AEB3C4;
$color-black-6: #EAEAEC;

$color-red-0: #CE2C52;
$color-red-1: #E75678;
$color-red-2: #EE869E;

$color-blue-0: #2C87CE;
$color-blue-1: #52A1DF;
$color-blue-2: #7CBAEA;

$color-yellow-0: #E89806;
$color-yellow-1: #F6A609;
$color-yellow-2: #FFBC1F;

$color-green-0: #27C19B;
$color-green-0: #48D8B4;
$color-green-0: #8AE6CF;

$product-image-gradient: radial-gradient(51.17% 51.78% at 50% 51.17%, #73909C 0%, #204859 100%);
$mobile-fixed-header-gradient: radial-gradient(51.17% 51.78% at 50% 51.17%, #0C99D6 0%, #068BC5 100%);

$color-product-modal-overlay: #e5e5e5a6;



