@import 'variables';
@import 'mixins';

:host {
    width: 90%;

    @include lg {
        width: 85%;
    }
    
    @include sm {
        width: 100%;
    }
}
.product-card {
    margin: 1em 0;
    cursor: pointer;

    .hover-text {
        opacity: 0;
    }
    &:hover {
        .hover-text {
            opacity: 1;
            transition: opacity .4s;
            font-weight: bold;
            font-size: 1.125em;
            line-height: 1em;
            letter-spacing: .056em;
            background-color: $color-blue-2;
            color: white;
            padding: .2em;
        }
    }
    .image-container {
        height: 200px;
        width: 100%;
        background: $product-image-gradient;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        @include lg {
            height: 250px;
        }
        
        @include sm {
            height: 200px;
            width: 100%;
        }
        .price-container {
            position: absolute;
            right: 0;
            bottom: 10%;
            background-color: $color-blue-2;
            padding: 0 5px;
            font-size: 1em;
            line-height: 1.125em;
            letter-spacing: .06em;
            font-weight: bold;
            
            .regular-price {
                margin-right: .4em;
                margin-left: .4em;

                &.scratched {
                    text-decoration: line-through;
                }
            }
            .promotional-price {
                color: $color-red-0;
            }
        }
    }
    .title-container {
        margin-top: .5em;
        
        .title {
            text-align: center;
            font-size: .75em;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            letter-spacing: .042em;
            line-height: 1.5em;
            text-transform: uppercase;
            color: $color-black-0;
        }
    }
}