@import 'variables';
@import 'mixins';

.mobile-page-header-container {
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: -.008em;
    display: none;
    background: $mobile-fixed-header-gradient;
    padding: .5em 0;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    max-height: 70px;

    @include xs{
        display: block;
    }
}

.products-container {
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 100vh;

    @include lg {
        margin: 20px;
    }
    @include md {
        padding: 0 10%;
    }
    @include xs {
        padding: 0 15%;
        margin: 0;
        padding-top: 100px;
    }
    .single-product-container {
        width: 33.33%;
        display: flex;
        justify-content: center;

        @include lg {
            width: 50%;
        }        
        @include xs{
            width: 100%;
        }
    }
}